<div class="row">
	<div class="col-md-12">
		<button [routerLink]="['/contato/add']">Add</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Telefone</th>
						<th>Operadora</th>
						<th colspan="2">Ação</th>
					</tr>
				</thead>
				<tbody>					
					<tr *ngFor="let contato of contatos; let index = index">
						<td>{{contato.identificador}}</td>
						<td>{{contato.nome}}</td>
						<td>{{contato.telefone}}</td>
						<td>{{contato.operadora}}</td>
						<td><button routerLink="/contato/{{contato.identificador}}/edit">edit</button></td>
						<td><button (click)="onDelete(contato.identificador, index)">delete</button></td>
					</tr>				
				</tbody>
			</table>			
		</div>		
	</div>
</div>
