<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>
			    Agenda de {{user}}
		  	</h1>
			  <router-outlet></router-outlet>
			    <form #form="ngForm">
				  <counter name="counter" [ngModel]="1" #outer="ngModel" [value]="5"></counter>  
				  		 <!-- <counter name="counter" ngModel [value]="5" (mudouValor)="onMudouValor(form)"></counter>  -->
			  </form>
			  <pre>{{ form.value | json }}</pre>
			   <pre>{{ outer  | json }}</pre>   
		</div>	
	</div> 
</div>